
.div-egy {
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
}

.div-ketto {
  height: 100px;
  width: 100px;
  background-color: gold;
}

.div-harom {
  height: 100px;
  width: 100px;
  background-color: tomato;
}
