
.div-egy {
  height: 200px;
  width: 200px;
  background-color: cornflowerblue;
}

.div-ketto {
  height: 200px;
  width: 200px;
  background-color: gold;
}

.div-harom {
  height: 200px;
  width: 200px;
  background-color: tomato;
}
