@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body {
  font-family: Optima,Segoe,Segoe UI,Candara,Calibri,Arial,sans-serif;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather Sans', sans-serif;
}

h1 {
  margin-top: 0;
  font-family: 'Courgette', cursive;
  font-size: 5em;
  line-height: 2;
}

h1, h2 {
  color: #66BFBF;
}

h3, a {
  color: #11999E;
}

p {
  line-height: 2;
  width: 40%;
  margin: auto;
}

hr {
  border: dotted silver 6px;
  border-bottom: none;
  width: 50%;
}

#webdes-par {
  margin-bottom: 0px;
  font-weight: normal;
}

#profile-img {
  height: 200px;
  width: 200px;
  margin-top: 30px;
}

.top-container {
  background-color: lightcyan;
  margin-top: 0;
  padding-top: 50px;
}

.middle-container {

}


.bottom-container {

}


.top-cloud {
  position: relative;
  left: 17%;
}


.bottom-cloud {
  position: relative;
  right: 17%;
}


.mountain {
  display: block;
  margin: auto;
}

.skill-row {
  width: 60%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.console-img {
  width: 30%;
  float: left;
  margin-right: 30px;
}

.visual-editing-img {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.skills, .contact-me {
  padding-top: 20px;
}
