
body {
  margin: 0px;
}

.div-egy {
  height: 100px;
  width: 100px;
  background-color: cornflowerblue;
  position: absolute;
  left: 100px;
  top: 100px;
}

.div-ketto {
  height: 100px;
  width: 100px;
  background-color: gold;
}

.div-cont {
  height: 550px;
  background-color: azure;
}
