
p {
  background-color: lightpink;
  display: inline-block;
  width: 150px;
}

span {
  background-color: limegreen;
}

.second-p {
  visibility: hidden;
  background-color: magenta;
}

.div-egy {
  height: 100px;
  background-color: chocolate;
}

.span-egy {
  background-color: red;
  font-size: 2em;
}
